body{
    background-color: #eedcdc;
}

input[type=text], input[type=email], input[type=password]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form{
    margin-top: 25px;
}
